<% include header.html %>

<div id="banner" style="background: url('/images/img/banner-about.jpg') center center no-repeat">
</div>

<!-- <div id="banner">
    <div id="focus">
        <div class="focusWarp">
            <ul class="imgList">
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-about.jpg')"></a></li>
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-mx-3.jpg')"></a></li>
            </ul>
        </div>
        <ul class="imgBtn">
            <li><img src="/images/img/banner-about.jpg" width="90" height="36"></li>
            <li><img src="/images/img/banner-mx-3.jpg" width="90" height="36"></li>
        </ul>
        <div class="container arrow">
            <a class="prev" href="javascript:;"></a>
            <a class="next" href="javascript:;"></a>
        </div>
    </div>
</div> -->

<div id="crumbs">
    <div class="container clearfix">
        <div class="sixteen columns">
            <div class="position">
                <i class="sprite"></i>公司介绍
            </div>
            <div class="crumbWrap">
                <i class="sprite"></i>
                <a class="home" href="/">首页</a> &gt;
                <span>公司介绍</span>
            </div>
        </div>

    </div>
</div>

<div id="content" class="container">
    <div id="about">
        <div class="clearfix">
            <h1 class="four columns">岂凡网络</h1>
            <h2 class="columns twelve">深圳岂凡网络有限公司，由中国游戏史上唯一的金牌制作人曹凯先生创立于2013年5月，是一家专注于
                制作高品质游戏的网游研发商。</h2>
        </div>
        <div class="clearfix">
            <div class="eight columns">
                <hr/>
                <p class="font-yh" style="color:#666666;font-size:14px;line-height:2;margin-bottom:20px;">
                    “做经久不衰的精品游戏，向全世界玩家传播快乐”是岂凡网络的梦想。力求完美并将游戏体验做到极致是岂凡人的追求。曹凯本人曾以此为理念创造了《弹弹堂》、《神曲》，并成为中国出口收入最高的网络游戏，更成为多个重要国家和地区最流行的网页游戏。曹凯以及所有岂凡人始终相信：中国游戏终有一天将主导世界游戏潮流，而岂凡将成为这一伟大目标的践行者。
                </p>
                <img src="/images/img/about-img-1.jpg" alt=""/>
            </div>
            <div class="eight columns">
                <img src="/images/img/about-img-2.png" alt=""/>
            </div>
        </div>
    </div>
</div>


<% include footer.html %>
<% include script.html %>


</body>
</html>
