<% include header.html %>

<div id="pages">

    <div id="page01" class="page">
        <div id="c1_back" class="obj c1_back">
            <img src="/images/img/slider-3-0.png" alt=""/>
        </div>
        <div id="c1_cont" class="obj c1_cont">
            <img src="/images/img/slider-3-1.png" alt=""/>
        </div>
        <div id="c1_icon" class="obj c1_icon">
            <img src="/images/img/slider-3-2.png" alt=""/>
        </div>
    </div>

    <div id="page02" class="page">
        <div id="c2_back" class="obj c2_back">
            <img src="/images/img/slider-1-0.png" alt=""/>
        </div>
        <div id="c2_icon" class="obj c2_icon">
            <img src="/images/img/slider-1-1.png" alt=""/>
        </div>
    </div>

    <div id="page03" class="page">
        <div id="c3_back" class="obj c3_back">
            <img src="/images/img/slider-4-0.png" alt=""/>
        </div>
        <div id="c3_cont" class="obj c3_cont">
            <img src="/images/img/slider-4-1.png" alt=""/>
        </div>
        <div id="c3_icon" class="obj c3_icon">
            <img src="/images/img/slider-4-2.png" alt=""/>
        </div>
    </div>

    <div id="dot_btn">
        <div class="dot_btn_item">
            <button type="button"><img src="/images/btn-cicle.png" alt=""/></button>
        </div>
        <div class="dot_btn_item">
            <button type="button"><img src="/images/btn-cicle.png" alt=""/></button>
        </div>
        <div class="dot_btn_item">
            <button type="button"><img src="/images/btn-cicle.png" alt=""/></button>
        </div>
    </div>

</div>

<div id="brief">
    <h1>岂凡网络</h1>
    <p>
        深圳岂凡网络有限公司，由中国游戏史上唯一的金牌制作人曹凯先生创立于2013年5月，是一家专注于制作高品质游戏的网游研发商。
    </p>
    <p>
        “做经久不衰的精品游戏，向全世界玩家传播快乐”是岂凡网络的梦想。力求完美并将游戏体验做到极致是岂凡人的追求。曹凯本人曾以此为理念创造了《弹弹堂》、《神曲》，并成为中国出口收入最高的网络游戏，更成为多个重要国家和地区最流行的网页游戏。曹凯以及所有岂凡人始终相信：中国游戏终有一天将主导世界游戏潮流，而岂凡将成为这一伟大目标的践行者。
    </p>
    <ul id="quickNav" class="nav clearfix">
        <li><a href="/about"><img src="/images/img/index-img-1.png" alt=""/></a></li>
        <li><a href="/webgame"><img src="/images/img/index-img-2.png" alt=""/></a></li>
        <li class="two"><a href="/coming"><img src="/images/img/index-img-3.png" alt=""/></a></li>
    </ul>
</div>

<% include footer.html %>
<% include script.html %>

</body>
</html>