<% include header.html %>

<!-- 通栏图banner -->
<div id="banner" style="background: url('/images/img/banner-mission.jpg') center center no-repeat">
</div>
<!-- /通栏图banner -->

<!-- 面包屑 -->
<div id="crumbs">
    <div class="container clearfix">
        <div class="sixteen columns">
            <div class="position">
                <i class="sprite"></i>公司理念
            </div>
            <div class="crumbWrap">
                <i class="sprite"></i>
                <a class="home" href="/">首页</a> &gt;
                <span>公司理念</span>
            </div>
        </div>
    </div>
</div>
<!-- /面包屑 -->

<div id="content" class="container">
    <div id="about">
        <h1 style="margin-bottom: 0;padding-bottom: 0">岂凡理念</h1>
        <div class="clearfix">
            <div class="eight columns">
                <hr/>
                <p class="font-yh" style="color:#666666;font-size:14px;line-height:2;margin-bottom:20px;">
                    游戏是为人类制造快乐的伟大事业，而我们发现，要成就这样伟大的事业，最好的方法是从小做起——精英小团队！6个芬兰人创造的COC，为十几亿人带来了欢乐。而曹凯先生带领十几人小团队开发的《弹弹堂》，也为全球5亿人创造了5年的快乐。在这样的小团队里，没有僵化的阶级或官僚体系，只有才华横溢的人以及让才华自由发挥的空间，每个成员能都自由追求自己的创造性构想。
                    “小”哲学是岂凡的核心理念。为了让这一理论奏效，需要有三个简单而必要的成分：才华横溢的人、自由的发挥空间、以及伟大的团队文化。这是一个能成就伟业的组合                </p>
            </div>
            <div class="eight columns founders" id="founders">
                <div class="wrap">
                    <div class="founder ceo">
                        <div class="mask"></div>
                        <img src="/images/img/ceo.jpg" alt=""/>
                    </div>
                    <h3>曹凯  先生</h3>
                    <h4>Founder & CEO</h4>
                </div>
                <div class="wrap">
                    <div class="founder cto">
                        <div class="mask"></div>
                        <img src="/images/img/cto.png" alt=""/>
                    </div>
                    <h3>徐敬德  先生</h3>
                    <h4>CTO</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer.html %>
<% include script.html %>

</body>
</html>