<% include header.html %>

<div id="banner">
    <div id="focus">
        <div class="focusWarp">
            <ul class="imgList">
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-2.jpg')"></a></li>
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-2.jpg')"></a></li>
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-2.jpg')"></a></li>
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-2.jpg')"></a></li>
            </ul>
        </div>
        <ul class="imgBtn">
            <li class="active"><img src="/images/img/banner-2.jpg" width="90" height="36"></li>
            <li><img src="/images/img/banner-2.jpg" width="90" height="36"></li>
            <li><img src="/images/img/banner-2.jpg" width="90" height="36"></li>
            <li><img src="/images/img/banner-2.jpg" width="90" height="36"></li>
        </ul>
        <div class="container arrow">
            <a class="prev" href="javascript:;"></a>
            <a class="next" href="javascript:;"></a>
        </div>
    </div>
</div>

<div id="crumbs">
    <div class="container clearfix">
        <div class="sixteen columns">
            <div class="position">
                <i class="sprite"></i>THE SODNE
            </div>
            <div class="crumbWrap">
                <i class="sprite"></i>
                <a class="home" href="/">首页</a> &gt;
                <span>THE SODNE</span>
            </div>
        </div>

    </div>
</div>

<div id="content" class="container">
    <div class="four  columns">
        <div class="phonePic">
            <img src="/images/img/game-img-2-1.jpg" alt=""/>
        </div>
    </div>
    <div class="four  columns">
        <div id="mobShowPic" class="phonePic">
            <div class="picWrap">
                <ul>
                    <li><img src="/images/img/game-img-2-1.jpg" alt=""/></li>
                    <li><img src="/images/img/game-img-2-1.jpg" alt=""/></li>
                    <li><img src="/images/img/game-img-2-1.jpg" alt=""/></li>
                    <li><img src="/images/img/game-img-2-1.jpg" alt=""/></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="eight columns">
        <h1>THE SODNE</h1>
        <p>
            1992年，由Westwood Studios开发的《沙丘魔堡II》（Dune II: The Building of a Dynasty）阐述了现代即时战略游戏中的所有核心概念，例如用鼠标控制单位、资源采集等。 （Dune II: The Building of a Dynasty）阐述了现代即时战略游戏中的所有核心概念，例如用鼠标控制单位、资源采集等。
        </p>
        <ul class="info" style="margin-top:10px;margin-bottom: 5px;">
            <li><i class="sprite"></i><span>操作系统：</span><i class="sprite android"></i><i class="sprite ios"></i></li>
            <li><i class="sprite"></i><span>发布时间：</span>2014-07-02</li>
            <li><i class="sprite"></i><span>类型：</span> RTX</li>
            <li>
                <i class="sprite"></i>
                <span>下载：</span>
                <ul class="download clearfix">
                    <li><a title="玩" href=""><img src="/images/img/wan.jpg" width="36" height="36" alt=""/></a></li>
                    <li><a title="玩"  href=""><img src="/images/img/wan.jpg" width="36" height="36" alt=""/></a></li>
                    <li><a title="玩"  href=""><img src="/images/img/wan.jpg" width="36" height="36" alt=""/></a></li>
                    <li><a title="玩"  href=""><img src="/images/img/wan.jpg" width="36" height="36" alt=""/></a></li>
                </ul>
            </li>
        </ul>
        <ul class="mobShow clearfix">
            <li class="active"><a href="javascript:;"><img src="/images/img/game-img-2-1.jpg" alt="" width="80" height="40"/></a></li>
            <li><a href="javascript:;"><img src="/images/img/game-img-2-1.jpg" alt="" width="80" height="40"/></a></li>
            <li><a href="javascript:;"><img src="/images/img/game-img-2-1.jpg" alt="" width="80" height="40"/></a></li>
            <li><a href="javascript:;"><img src="/images/img/game-img-2-1.jpg" alt="" width="80" height="40"/></a></li>
        </ul>
    </div>
</div>

<% include footer.html %>
<% include script.html %>

</body>
</html>