<div id="header">
    <div class="container">
        <div class="five columns alpha">
            <a href="/" title="岂凡网络首页" id="logo"><img src="/images/logo.png" alt=""/></a>
        </div>
        <div class="eleven columns omega nav-wrap">
            <ul id="nav" class="main-nav">
                <li class="pagegame">
                    <a href="javascript:;" title="网页游戏">网页游戏</a>
                    <ul>
                        <li><a href="/webgame"><i class="sprite"></i>大 剑</a></li>
                    </ul>
                </li>
                <li class="phonegame">
                    <a href="javascript:;" title="手机游戏">手机游戏</a>
                    <ul>
                        <li><a href="/coming"><i class="sprite"></i>Coming soon</a></li>
                    </ul>
                </li>
                <li class="job"><a href="/job" title="工作机会">工作机会</a></li>
                <li class="about">
                    <a href="javascript:;" title="关于我们">关于我们</a>
                    <ul>
                        <li><a href="/about"><i class="sprite"></i>公司介绍</a></li>
                        <li><a href="/mission"><i class="sprite"></i>公司理念</a></li>
                        <li><a href="/news"><i class="sprite"></i>公司新闻</a></li>
                        <li><a href="/contact"><i class="sprite"></i>联络方式</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a id="menu-btn"></a>
    </div>
</div>