<% include header.html %>

<!-- 通栏图banner -->
<div id="banner">
    <div id="focus">
        <div class="focusWarp">
            <ul class="imgList">
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-dajian-0.jpg')"></a></li>
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-dajian-1.jpg')"></a></li>
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-dajian-2.jpg')"></a></li>
                <li><a href="javascript:;" style="background-image:url('/images/img/banner-dajian-3.jpg')"></a></li>
            </ul>
        </div>
        <ul class="imgBtn">
            <li class="active"><img src="/images/img/banner-dajian-0.jpg" width="90" height="36"></li>
            <li><img src="/images/img/banner-dajian-1.jpg" width="90" height="36"></li>
            <li><img src="/images/img/banner-dajian-2.jpg" width="90" height="36"></li>
            <li><img src="/images/img/banner-dajian-3.jpg" width="90" height="36"></li>
        </ul>
        <div class="container arrow">
            <a class="prev" href="javascript:;"></a>
            <a class="next" href="javascript:;"></a>
        </div>
    </div>
</div>
<!-- /通栏图banner -->

<!-- 面包屑 -->
<div id="crumbs">
    <div class="container clearfix">
        <div class="sixteen columns">
            <div class="position">
                <i class="sprite"></i>大剑
            </div>
            <div class="crumbWrap">
                <i class="sprite"></i>
                <a class="home" href="/">首页</a> &gt;
                <span>网页游戏</span>
            </div>
        </div>

    </div>
</div>
<!-- /面包屑 -->

<div id="content" class="container">
    <div class="eight columns">
        <div class="webgame-img">
            <iframe id="listmv" width="418" height="263" frameborder="0" src="/video" scrolling="no"></iframe>
            <img src="/images/img/game-img-1.jpg" width="100%" alt=""/>
        </div>
    </div>
    <div class="eight columns">
        <h1>大 剑</h1>
        <p>
            《大剑》是继《弹弹堂》《神曲》之后，第三款由金牌制作人曹凯先生亲自操刀的网页游戏。《大剑》是一款西方魔幻史诗题材的ARPG游戏，以任务引导角色成长为中心，结合副本、PVP、PVE等玩法，力求为网页游戏玩家带来睥睨大型端游的娱乐体验。
        </p>
        <p>
            玩家作为天选之子，为了终结神魔争斗而拿起了圣剑，与恶魔、恶龙，以及魔王进行战斗。在游戏中玩家除了闯关升级之外，还可强化武器装备、提升进阶技能、觉醒传承血脉、恢复圣剑的力量、与英灵签订契约、结交好友、击杀世界BOSS等丰富的游戏活动。
        </p>
        <ul class="info">
            <li><i class="sprite"></i><span>时间：</span>2014年第四季度</li>
            <li><i class="sprite"></i><span>网址：<a href="/coming" target="_blank">http://dj.qifun.com</a></span></li>
        </ul>
    </div>
</div>

<% include footer.html %>
<% include script.html %>

</body>
</html>